@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 0 0% 10.2%;
    --card: 210 40% 98%;
    --card-foreground: 0 0% 10.2%;
    --popover: 210 40% 98%;
    --popover-foreground: 0 0% 10.2%;
    --primary: 210 100% 20%;
    --primary-foreground: 210 40% 98%;
    --secondary: 216 28% 95%;
    --secondary-foreground: 210 100% 20%;
    --muted: 210 8% 45%;
    --muted-foreground: 210 8% 55%;
    --accent: 190 100% 42.4%;
    --accent-foreground: 210 100% 20%;
    --destructive: 358 100% 67.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 210 20% 90%;
    --input: 210 20% 90%;
    --ring: 190 100% 42.4%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 10.2%;
    --foreground: 210 40% 98%;
    --card: 0 0% 10.2%;
    --card-foreground: 210 40% 98%;
    --popover: 0 0% 10.2%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 210 100% 20%;
    --secondary: 210 100% 20%;
    --secondary-foreground: 210 40% 98%;
    --muted: 210 100% 20%;
    --muted-foreground: 210 40% 60%;
    --accent: 190 100% 42.4%;
    --accent-foreground: 0 0% 10.2%;
    --destructive: 358 100% 67.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 210 100% 20%;
    --input: 210 100% 20%;
    --ring: 190 100% 42.4%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .cta-fill-hover {
    @apply relative overflow-hidden transition-colors duration-300 ease-out z-0;
  }
  .cta-fill-hover::before {
    content: '';
    @apply absolute top-0 bottom-0 left-0 -z-10 bg-primary transition-all duration-300 ease-out;
    right: 100%;
  }
  .cta-fill-hover:hover::before {
    right: 0;
  }
  .cta-fill-hover:hover {
    @apply text-primary-foreground;
  }
  
  @keyframes kenburns {
    0% {
      transform: scale(1) translate(0, 0);
    }
    100% {
      transform: scale(1.1) translate(1%, -1%);
    }
  }

  .animate-kenburns {
    animation: kenburns 10s ease-out alternate-reverse infinite;
  }

  @media (prefers-reduced-motion: reduce) {
    .animate-kenburns {
      animation: none;
    }
  }
}
